html{
    scroll-behavior: smooth;
}
*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
.section-a{
    background-image: url(./images/kids-play.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}




/* Transition delay when clicked to light mode*/
body:not(.dark-mode) {
    transition: all 1.0s ;
 
}

/* Transition delay when clicked to Dark mode*/

body.dark-mode{
    transition: all 1.0s ;   
}

body{
width: 100%;
font-family: 'roboto', sans-serif;
position: relative;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
line-height: 1.5;  

}

.brand{
text-transform: uppercase;
font-weight: 700;
font-family: serif;
font-size: x-large; 
color: black;

}

.links-container{
display: flex;
list-style: none;
}

.link{
color: rgb(0, 0, 0);
margin: 0 10px;
padding: 10px;
text-transform: capitalize;
position: relative;
list-style: none;
text-decoration: none;
line-height: 1.5;

}

.navbar{
background: rgb(236, 231, 238);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 60px;
padding: 0 10vw;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 9;
border-bottom:  1px solid rgb(19, 5, 19);
}

/* Home styles */
.home{
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
    margin-top: 70px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    

    
}
#line-break::before{
    content: "\a";
    white-space: pre;

}

.home-left{
    width: 40%;
     
}



.head-1{
    word-spacing: 5px;
}



.links-container li a{
    font-size: large;
    font-weight: 600;
}



.link:hover:not(.active){
    color: rgb(81, 6, 100);
    transition:  0.2s;
    
    
}
#btn-darkmode{
    margin-left: 14px;
    /* padding: 15px; */
}
.mode-button{
    border: 0px;
    padding: 6px;
    width: 80px;
    border-radius: 9px;
    border-color: rgba(195, 168, 202, 0);
    font-size: small;
    font-weight: 500;
     height: 34px; 
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
  
}
.mode-button:hover{
    cursor: pointer;
    border-left: 0px;
    border-right: 0px;
 
}


.link.active::after,
.seperator::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1.6px;
    background: rgb(19, 172, 78);
    /* background: #03e9f4; */
}

/* Dark Mode Styles */
.dark-mode{
    background: #0e0e01;
    color: white;
   
}

body.dark-mode .mode-button::before{
    content: 'Light Mode';
    
}
body:not(.dark-mode) .mode-button::before{
    content: 'Dark Mode';
      
}
/* Changes to the buttons background color before click to darkmode */
body:not(.dark-mode) .mode-button{
    background-color: rgb(30, 27, 31);
     color: White;

}
    .color-chng{
        color: rgb(32, 29, 27);
        font-weight: 400 !important;

}

.home-left{
    background-color: #658d54;
    opacity: 0.9;
    padding: 20px;
    border-radius: 4px;
    font-size: large;
    box-shadow: rgb(0, 0, 0, 0.22) 0px 15px 12px;
}
.home-links{
    text-decoration: none;
    color: rgb(124, 40, 6);
}
.home-links:hover{
    color: rgb(13, 5, 15);
    transition: all 0.3s;
    border-bottom: dashed 1px #fff;
}
.head-1{
    line-height: 1.9rem;
}






@media (max-width: 996px){
    html{
        font-size: 1rem;

    }
    .home{
        width: 100%;
        min-height: calc(100vh - 80px);
        height: auto;
        margin-bottom: 30px;
    }
    
    .link.active{
        color: rgb(77, 230, 77) !important;

    }
    
.link:hover:not(.active){
    color: rgb(43, 184, 25);
    transition:  0.2s;
    
    
}
   
    /* toggle btn */
    .toggle-btn{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10vw;
        cursor: pointer;
    }
    .toggle-btn span{
        position: absolute;
        width: 100%;
        height: 2px;
        background: rgb(0, 0, 0);
        top: 30%;
        transition: .5s;
    }
    .toggle-btn span:nth-child(2){
        top: 70%;
    }
    .toggle-btn.active span:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
    }
    .toggle-btn.active span:nth-child(2){
        top: 50%;
        transform: rotate(-45deg);
    }
    /* links */
    .links-container{
        position: absolute;
        top: 60px;
        background: #38053fdc;
        width: 100%;
        left: 0;
        padding: 0 10vw;
        flex-direction: column;
        transition: .4s;
        opacity: 0;
        pointer-events: none;
    }
    .links-container.show{
        opacity: 1;
        pointer-events: all;
       
    }
    .link{
        margin-left: auto;
        text-align: center;
        display: block;
        height: 50px;
    }



    /* Home styles */
    .home-section{
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-left{
        flex-wrap: wrap;
        min-width: 300px;
        
    }
     .home-right{
        flex-wrap: wrap;
       
    } 
    .home{
        flex-direction: column-reverse;
        height: fit-content;
    }
}



@media (max-width: 500px){
    html{
        font-size: 1rem;
    }
    img{
        flex-shrink: 2;
    }
}








@media (min-width: 1000px) {
    /* Scroll Bar Styles */
    
*::-webkit-scrollbar{
    width: 12px;
}
*::-webkit-scrollbar-track{
    background: #8da581;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(46, 6, 48);
    border-radius: 20px;
    border: 3px solid rgb(52, 3, 56);
}

*::-webkit-scrollbar-thumb:hover{
    background-color: rgb(73, 11, 75);
    border: 3px solid rgb(64, 6, 71);
}
    
}






.home-section{
    display: flex;
} 
#home-p{
    color: white;
    line-height: 1.7rem
}
#card-links{
    color: rgb(245, 93, 4);
    text-decoration: none;
    
}
#card-links:hover{
    text-decoration: underline #fff;
}







/* CARD STYLES */

 @import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: grid;
    place-items: center;
}
.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}
@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
   }
}
.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
    .card {
        height: 350px;
   }
}
.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
    background-image: url(./images/kelly-sikkema-CbZC2KVnK8s-unsplash.jpg);
}
.card:nth-child(2):before {
    background-image: url(./images/myles-tan-WNAO036c6FM-unsplash.jpg);
}
.card:nth-child(3):before {
    background-image: url(./images/cdc-8LITuYkZRIo-unsplash.jpg);
}
.card:nth-child(4):before {
    background-image: url(./images/taylor-wilcox-NTur2_QKpg0-unsplash.jpg);
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}
.content > * + * {
    margin-top: 1rem;
}
.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}
.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}
.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}
.btn:hover {
    background-color: #0d0d0d;
}
.btn:focus {
    outline: 2px dashed rgb(255, 102, 0);
    outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
   }
    .content {
        transform: translateY(calc(100% - 4.5rem));
   }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
   }
    .card:hover, .card:focus-within {
        align-items: center;
   }
    .card:hover:before, .card:focus-within:before {
        transform: translateY(-4%);
   }
    .card:hover:after, .card:focus-within:after {
        transform: translateY(-50%);
   }
    .card:hover .content, .card:focus-within .content {
        transform: translateY(0);
   }
    .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
   }
    .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
   }
}



.dummytext{
    padding: 0 10vw;
    font-size: large;
}





/* mission/ vision-container  */

.boxes{
text-align: center;}
.mission-vision-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    line-height: 1.9rem;
}

.box{
    flex: 1;
    border-radius: 4px;
    margin: 25px 15px;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px 35px;
}

@media (max-width:768px){
   
    .boxes .mission-vision-container{
        display: block;
        text-align: center;
        
    }
    .mission-vision-container{
        
        align-content: center;
        justify-content: center;
    }
}


.box h3{
    font-size: x-large;
    margin-top: 20px;
}


/* Image Slider styles */
#slider{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    height: 256px;
    position: relative;
    border-radius: 4px;

    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);


}
#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
   
    float: left;
  }

  #slider ul li img{
    width: 500px;
    height: 265px;
    border-radius: 4px;
    
 
  }

  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
  }

  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }

  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
    cursor: pointer;

  }

  @media (max-width: 499px) {
    #slider{
        width: 400px;
        height: 236px;
    }
    #slider ul li img{
        width: 400px;
        height: 236px;
    }
    
  }


  @media (max-width: 380px) {
    #slider{
        width: 365px;
        height: 216px;
    }
    #slider ul li img{
        width:365px;
        height: 216px;
    }
    
  }





